<div ngClass="button-container">
  <div *ngIf="selectButton == 'month'" ngClass="date-container">
    <h1 ngClass="month-name">{{ monthDate | date: "MMMM" }}</h1>
    <h1 ngClass="month-name">{{ monthDate | date: "yyyy" }}</h1>
  </div>
  <div *ngIf="selectButton == 'week'" ngClass="date-container">
    <h1 ngClass="month-name">{{ weekDate | date: "MMMM" }}</h1>
    <h1 ngClass="month-name">{{ weekDate | date: "yyyy" }}</h1>
  </div>
  <div>
    <mat-icon ngClass="arrow-button" (click)="onClickBack()"
      >arrow_back_ios</mat-icon
    >
    <mat-icon ngClass="arrow-button" (click)="onClickNext()"
      >arrow_forward_ios</mat-icon
    >
  </div>
  <div ngClass="button-container">
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
      <mat-button-toggle
        [ngClass]="{ 'select-button': selectButton == 'month' }"
        value="month"
        (click)="onToggleButton('month')"
        >Month</mat-button-toggle
      >
      <mat-button-toggle
        [ngClass]="{ 'select-button': selectButton == 'week' }"
        value="week"
        (click)="onToggleButton('week')"
        >Week</mat-button-toggle
      >
    </mat-button-toggle-group>
  </div>
</div>

<div *ngIf="selectButton == 'month'">
  <div ngClass="dates-container">
    <div
      [ngClass]="formatDate(day) != currentDate ? 'date' : 'current-date'"
      *ngFor="let day of month"
    >
      <p>{{ day | date: "EEE" }}</p>
      <p>{{ day | date: "d" }}</p>
      <hr />
    </div>
  </div>
  <div [ngStyle]="{ 'padding-top': '90px' }">
    <mat-accordion *ngFor="let task of currentMonthTasks">
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
        [ngStyle]="{
          'margin-left': monthLeftSpace(task.startDate),
          width: monthWidth(task.startDate, task.endDate),
          position: 'relative'
        }"
      >
        <mat-expansion-panel-header>
          <mat-panel-title> {{ task.taskName }} </mat-panel-title>
          <mat-panel-description>
            {{ task.startDate | date }} - {{ task.endDate | date }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>I'm visible because I am open</p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>

<div *ngIf="selectButton == 'week'" ngClass="calendar-container">
  <div ngClass="week-dates-container">
    <div
      [ngClass]="
        formatDate(day) != currentDate ? 'week-date' : 'week-current-date'
      "
      *ngFor="let day of week"
    >
      <p>{{ day | date: "EEEE" }}</p>
      <p>{{ day | date: "d" }}</p>
      <hr />
    </div>
  </div>
  <div [ngStyle]="{ 'padding-top': '120px' }">
    <mat-accordion *ngFor="let task of currentWeekTasks">
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
        [ngStyle]="{
          'margin-left': weekLeftSpace(task.startDate),
          width: weekWidth(task.startDate, task.endDate),
          position: 'relative'
        }"
      >
        <mat-expansion-panel-header>
          <mat-panel-title> {{ task.taskName }} </mat-panel-title>
          <mat-panel-description>
            {{ task.startDate | date }} - {{ task.endDate | date }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>I'm visible because I am open</p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>

